{% extends 'main/base.html' %}
{% block create %}active{% endblock %}
{% block content %}

<div class="container">
    <h1 class="text-center m-3">Create New</h1>
    <form method="post">{% csrf_token %}
        <table class="table border-">
            <tr>
                <td valign=top> Add Word : </td>
                <td valign=top>
                    <div id="newlink">
                        <div class="feed">
                            <input class="form-control" type="text" placeholder='Word 1' name="word1" size="50">
                        </div>
                    </div>
                    <div class="text-center mt-2">
                        <p id="addnew"><a class="btn btn-primary btn-sm text-white" role="button">Add New <span class="fa fa-plus"></a></p>
                    </div>
                </td>
            </tr>
            <tr class="border-0" style="border-top: none;">
                <td> No. of Ticket : </td>
                <td>
                    <div>
                        <div class="feed">
                            <input class="form-control" type="text" placeholder='No of Ticket' name="noticket" size="50">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit" name="create">Create Ticket</button>
        <button class="btn btn-primary" type="submit" name="save">Create Ticket and Save Words</button>
    </form>
</div>

{% if final is not 0 %}
<div class="container mt-5">
    {% for i in final %}
    <div class="card text-center mb-4" id="capture{{forloop.counter}}" style="border: 3px solid black;">
        <div class="card-header p-1  bg-white ">
            <b>Ticket No. {{forloop.counter}}</b>
        </div>
        <div class="card-body p-0">
            <table class="table table-bordered m-0 img">
                <tbody>
                    {% for j in i %}
                    <tr>
                        {% for k in j %}
                        <td><b class="word">{{k}}</b></td>
                        {% endfor %}
                    <tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer py-2 m-0 bg-white">
        <p class="p-0 m-0">मुनिसुब्रत नाथ शाखा हनुमानताल जबलपुर, केंद्रीय अध्यक्ष -श्रीमती विमला चौधरी, प्रांतीय अध्यक्ष- श्रीमती सरला सामरिया, संभागीय अध्यक्ष - श्रीमती मिश्री जैन, अध्यक्ष- श्रीमती मोली जैन, सचिव -श्रीमती मीना जैन, कोषाध्यक्ष -श्रीमती स्वाति जैन
</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}


<!-- <div id="capture0" style="padding: 10px; background: #f5da55">
    <h4 style="color: #000; ">box0</h4>
</div> -->

{% load static %}

<style type="text/css">
    .img{
        background-image:  linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url('{% static "main/images/myimg.png" %}');
        background-size: 100% 100%;
        background-position: center;
    }
    .feed {
        padding: 5px 0;
    }
</style>
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script type="text/javascript">
var count = 2;
$("#addnew").click(function() {
    var html = "<div class='feed'><input id='in" + count + "' class='form-control' type='text' name='word" + count + "' placeholder='Word " + count + "' size='50'></div>"
    $("#newlink").append(html);
    count++;
});

function foo(which) {
    $("#div" + which).remove();
}

function screenshot(id){
    var id = id;
    html2canvas(document.querySelector("#"+id+"")).then(canvas => {
        document.body.appendChild(canvas)
    });
    console.log('done');
}
</script>
{% endblock %}